<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}mySite{% endblock %}</title>
    {% load static %}
    <link type="text/css" href="{% static 'translation_app/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <a href="/" class="header__logo">
            <img
                src="https://i.pinimg.com/originals/bc/d4/c7/bcd4c7a982569c67388fbcc99f193bcf.png"
                alt=""
                class="header__logo-image"
                width="64"
            >
        </a>
<!--        <a class="header__to-main-link" href="{% url 'translation_app:index' %}">Главная</a>-->
        <nav class="header__menu">
            <button
                    type="button"
                    class="header__menu-toggle"
                    aria-label="Открыть меню">
                <span class="visually-hidden">Открыть меню</span>
                <span class="header__menu-toggle-line"></span>
                <span class="header__menu-toggle-line"></span>
                <span class="header__menu-toggle-line"></span>
            </button>
            <ul class="header__menu-list">
                {% for topic in topics %}
                <li class="header__menu-item">
                    <a class="header__menu-link" href="{% url 'translation_app:topic' topic.id %}">{{ topic }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main class="content">
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        someFooter
    </footer>
</body>
</html>


