{% extends "translation_app/base.html" %}
{% block title %}{{ topic }}{%endblock%}
{% block content %}
<section class="translations">
    <h1 class="topic-title">{{ topic }}</h1>
    <ul class="translations__list">
        {% for entry in entries_in_topic %}
        <li class="translations__item">
            <a
                    href="{% url 'translation_app:entry' entry.id %}"
                    class="translations__item-link"
            >
                <img
                        src="{% if entry.image %}{{ entry.image.url }}{% else %}https://klike.net/uploads/posts/2023-02/1675324301_3-44.jpg{% endif %}"

                        alt=""
                        class="translations__item-preview"

                >
                <div class="translations__item-info">
                    <p
                            title="{{ entry }}"
                            class="translations__item-title">{{ entry }}
                    </p>
                    <time
                            datetime="{{ entry.date_translation|date:'Y-m-d' }}"
                            class="translations__item-date"
                    >{{ entry.date_translation|date:"d.m.Y" }}</time>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}
