{% extends "translation_app/base.html" %}

{% block title %}{{ entry }}{% endblock %}

{% block content %}
<section class="translation-card">
    <video
            class="translation-card__video"
            controls
    >
        <source src="../../static/translation_app/media/videoplayback.mp4" type="video/mp4">
    </video>
    <div class="translation-card__info-container">
        <div class="translation-card__info">
            <h1
                    title="{{ entry }}"
                    class="translation-card__info-title">{{ entry }}</h1>
            <time
                    datetime="{{ entry.date_translation|date:'Y-m-d' }}"
                    class="translation-card__info-date"
            >Начало трансляции: {{ entry.date_translation|date:"d.m.Y" }}</time>
            <p class="translation-card__info-description">{{ entry.description }}</p>
        </div>
    </div>

</section>
{% endblock content %}