{% extends "translation_app/base.html" %}
{% block title %}Трансляции{%endblock%}
{% block content %}
<section class="translations">
    <ul class="translations__list">
    {% for entry in entries %}
        <li class="translations__item">
            <a 
                    href="{% url 'translation_app:entry' entry.id %}" 
                    class="translations__item-link"
            >
                <img
                        src="{% if entry.image %}{{ entry.image.url }}{% else %}../../static/translation_app/media/background.png{% endif %}"
                        alt="preview for {{ entry }}"
                        class="translations__item-preview"

                >
                <div class="translations__item-info">
                    <p
                            class="translations__item-title"
                            title="{{ entry }}"
                    >{{ entry }}</p>
                    <time
                            datetime="{{ entry.date_translation|date:'Y-m-d' }}"
                            class="translations__item-date"
                    >{{ entry.date_translation|date:"d.m.Y" }}</time>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>

    {% endblock content %}
</section>
