{% extends "translation_app/base.html" %}

{% block content %}
<section class="translations">
    <ul class="translations__list">
    {% for entry in entries %}
        <li class="translations__item">
            <p class="translations__item-title">
                {{ entry }}
            </p>
            <time datetime="">{{ entry.date_translation|date:"d.m.Y" }}</time><br/>
            <a href="{% url 'translation_app:entry' entry.id %}" class="translations__item-link">Смотреть</a>
        </li>
    </ul>
    {% endfor %}
    {% endblock content %}
</section>