.burger-button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 4px;
  width: 40px;
  aspect-ratio: 1;
  padding-left: 8px;
  background-color: var(--color-background-color);
  border: none;
  box-shadow: 0px 2px 5px 0 var(--color-item-shadow-color);

  &__toggle-line {
    text-align: center;
    width: 16px;
    height: 1px;
    background-color: var(--color-text-color);
  }

  &__list {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: -4px;
    /*transition-delay: 2s;*/
    transition-duration: 0.5s;
    transform: translateY(-50%);

    box-shadow: 0 5px 15px 0px var(--color-item-shadow-color);
  }

  &__item {
    position: relative;
    //outline: 1px solid red;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: var(--color-background-color);


    //padding-block: 5px;
    & > * {
      padding: 10px 25px;
    }
  }

  &__item:hover {
    background-color: var(--color-item-background-color);
  }

  &__link {
    //outline: 1px solid yellow;
    background-color: transparent;
    color: var(--color-text-color);
    cursor: pointer;
    display: block;
    border: none;
    //padding: 10px 25px;
  }

  &__toggle {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    width: 40px;
    aspect-ratio: 1;
    padding-left: 8px;
    background-color: var(--color-background-color);
    border: none;
    box-shadow: 0px 2px 5px 0 var(--color-item-shadow-color);
    /*color: var(--color-light);*/
    /*background-color: var(--color-item-background-color);*/

    /*color: var(--color-accent-color);*/
    /*border: black 1px solid;*/
    transition-duration: var(--transition-duration);
  }

}

.burger-button__menu:hover .burger-button__list {
  visibility: visible;
  pointer-events: visible;
  opacity: 100%;
  transform: translateY(0%);
}


.header__menu:hover .burger-button__toggle {
  transform: scale(120%);
}

.burger-button__toggle-line {
  text-align: center;
  width: 16px;
  height: 1px;
  background-color: var(--color-text-color);
}

