:root {
  /*--color-dark: #000000;*/
  /*--color-dark-alternate: #131619;*/
  /*--color-light: #FFFFFF;*/
  /*--color-dark-gray: #404040;*/
  /*--color-light-gray: #C4C4C4;*/
  --color-text-color: #000;
  --color-background-color: #ffffff;
  /*--color-item-background-color: #e5e5e5;*/
  --color-item-background-color: #e5e5e5;
  --color-item-background-color-light: #eeeeee;
  --color-item-background-color-dark: #c4c4c4;

  --color-item-shadow-color: #868686;
  --color-accent-color: #FFBF00;

  --container-width: 1300px;
  --container-padding-x: 15px;
  --transition-duration: 0.2s;
  --videoplayer-radius: 10px;
}